#rocket {
  Z-index: 1;
  position: absolute;
  opacity: 0;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: opacity-full 1s 5s forwards;
  width: 150px;
  transition: background-color 0.5s ease-in-out;

  &.rocket-landing {
    opacity: 1;
    animation: rocket-landing 6s ease-in-out forwards;
  }

  .st0 {
    fill: #4F5D73;
  }

  .st1 {
    opacity: 0.2;
  }

  .st2 {
    fill: #231F20;
  }

  .st3 {
    fill: #C75C5C;
  }

  .st4 {
    fill: #E0995E;
    animation: rocket-launch 0.3s infinite;
  }

  .st5 {
    fill: #F5CF87;
    animation: rocket-launch 0.3s infinite;
  }

  .st6 {
    fill: #E0E0D1;
  }
}

@keyframes rocket-launch {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-3%, 3%);
  }
  100% {
    transform: translate(0);
  }
}


@keyframes rocket-landing {
  0% {
    transform: translate(-50%, 0);
  }
  20% {
    transform: translate(1000%, -1000%);
  }
  25% {
    transform: rotate(135deg) translateX(-1000%);
  }
  60% {
    transform: translate(200%, -200%);
  }
  100% {
    transform: rotate(-35deg) translate(100%, 100%);
  }
}
