body {
  background-color: #1a1d20;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    opacity: 0;
    transform: translateX(-80px);

    &:nth-child(1) {
      animation: apparition 1s 0.2s forwards, disparition 1s 3.5s forwards;
    }

    &:nth-child(2) {
      animation: apparition 1s 0.5s forwards, disparition 1s 3.8s forwards;
    }

    &:nth-child(3) {
      animation: apparition 1s 0.8s forwards, disparition 1s 4.1s forwards;
    }
  }
}

.ready {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: opacity-full 1s 5s forwards;
  opacity: 0;

  &.disparition {
    animation: opacity-none 1s forwards;
  }
}

.start-button {
  outline: none;
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  transition: transform 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
  }

  .bg-svg {
    stroke: #b8b8b834;
    stroke-width: 3;
  }

  .filled {
    stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 0.4s ease-in-out;
  }

  &:hover .filled {
    stroke-dashoffset: 0;
  }

  &.turn-around {
    animation: turn-around 1.5s forwards;
    transition: transform 1.5s ease-in-out;
  }
}

#rocket {
  position: absolute;
  opacity: 0;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  animation: opacity-full 1s 5s forwards;
  width: 150px;

  &.rocket-landing {
    animation: rocket-landing 2s forwards;
  }

  .st0 {
    fill: #4F5D73;
  }

  .st1 {
    opacity: 0.2;
  }

  .st2 {
    fill: #231F20;
  }

  .st3 {
    fill: #C75C5C;
  }

  .st4 {
    fill: #E0995E;
    animation: rocket-launch 0.3s infinite;
  }

  .st5 {
    fill: #F5CF87;
    animation: rocket-launch 0.3s infinite;
  }

  .st6 {
    fill: #E0E0D1;
  }
}


#moon {
  width: 200%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(100%, -50%);

  &.moon-landing {
    animation: moon 2s forwards;
  }

  .st0 {
    fill: #7988A2;
  }

  .st1 {
    fill: #60718C;
  }

  .st2 {
    fill: #FFFFFF;
  }

  .st3 {
    fill: #435D7B;
  }

  .st4 {
    fill: #0D0E1F;
  }
}


@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes opacity-full {
  100% {
    opacity: 1;
  }
}

@keyframes opacity-none {
  100% {
    opacity: 0;
  }
}

@keyframes disparition {
  100% {
    opacity: 0;
    transform: translateX(80px);
  }
}

@keyframes turn-around {
  10% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes rocket-launch {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-3%, 3%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes moon {
  100% {
    width: 120%;
    transform: none;
  }
}

@keyframes rocket-landing {

  100% {
    transform: translate(1000%, 1000%);
  }
}
