@import "variables";

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 2rem;
  width: 40%;
  color: $color-quinary;
  animation: apparition 1s forwards;
  transform: translateX(-80px);
  opacity: 0;

  .input {
    display: flex;
    flex-direction: row;

    input {
      font-size: 2rem;
      border: none;
      border-bottom: 1px solid $color-primary-light;
      background: none;
      width: 80%;
      margin: 5% 0;
      caret-color: $color-primary-light;
      padding: 1rem;
      color: $color-quinary;
    }

    button {
      width: 20%;
      background: none;
      border: none;
      outline: none;
      color: $color-primary-light;
      font-size: 2rem;
      cursor: pointer;
      padding: 1rem;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: ease-in-out 0.5s;
      }

      &:hover {
        i {
          animation: rotate 0.5s forwards;
        }
      }
    }
  }

}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


